.tk-back-to-top {
  background-color: #333333;
  bottom: 90px;
  cursor: pointer;
  border-radius: 50%;
  height: 60px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 20px;
  transition: all .2s ease-in;
  width: 60px;
  visibility: hidden;
  z-index: 999999999999999; /* I am a mad lad 😎  */
}
.tk-back-to-top:hover {
  opacity: 1;
}
.tk-back-to-top-is-visible {
  visibility: visible;
  opacity: 1;
}
.tk-back-to-top-fade-out {
  opacity: .5;
}

.tk-back-to-top img {
  width: 30px;
  height: auto;
  transform: translate3d(15px, 15px, 0);
  transition: all .2s ease-in;
}
.tk-back-to-top:hover img {
  transform: translate3d(15px, -30px, 0);
}
